<ul class="icon-list mt-4 d-flex align-items-center px-0 mx-0">
  <li>
    <a href="#">
      <img
        src="icons/content-book-brochure-magazine-read-icon-svgrepo-com.svg"
        alt="curriculm"
        width="20"
      />
    </a>
  </li>
  <li>
    <a href="#">
      <img src="icons/comments-svgrepo-com.svg" alt="comments" width="20" />
    </a>
  </li>
  <li>
    <a href="#">
      <img
        src="icons/question-small-svgrepo-com.svg"
        alt="question"
        width="30"
      />
    </a>
  </li>
  <li>
    <a href="#">
      <img
        src="icons/leaderboard-star-svgrepo-com.svg"
        alt="leaderboard"
        width="20"
      />
    </a>
  </li>
</ul>
