<section class="comments-section">
  <h2 class="comments-title my-5">Topics for This Course</h2>
  <div
    class="progress"
    role="progressbar"
    aria-label="Success example"
    aria-valuenow="63"
    aria-valuemin="0"
    aria-valuemax="100"
  >
    <div class="progress-bar bg-success rounded-3" style="width: 63%"></div>
  </div>
  <div class="persent-top">
    <span class="text-capitalize text-muted fw-medium">you</span>
  </div>
  <span class="persent-botton text-muted fw-medium">63%</span>
</section>
