<nav aria-label="breadcrumb">
  <div class="container-fluid py-2 px-5">
    <ol
      class="breadcrumb"
      style="
        --bs-breadcrumb-divider: url('data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%278%27 height=%278%27%3E%3Cpath d=%27M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z%27 fill=%27%236c757d%27/%3E%3C/svg%3E');
      "
    >
      <li class="breadcrumb-item"><a routerLink="/" fragment="/">Home</a></li>
      <li class="breadcrumb-item" aria-current="page">
        <a routerLink="/" fragment="/"> Courses </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <a routerLink=""> Course Details </a>
      </li>
    </ol>
    <h1>Starting SEO as your Home</h1>
  </div>
</nav>
